#pnpm 幽灵依赖配置

public-hoist-pattern[]=highlight.js
public-hoist-pattern[]=postcss
public-hoist-pattern[]=babel-loader
public-hoist-pattern[]=vue-loader

# npm=https://registry.npmjs.org/
# td=http://office.tiandaai.com:10038/repository/td-npm-group
# tdnpm=http://office.tiandaai.com:10038/repository/td-npm-hosted
# taobao=https://registry.npm.taobao.org

