@charset "UTF-8";
@import "./common/var.scss";

$--color-primary:  $--main-fill-color-1 !default;
.td_anchor_link {
  cursor: pointer;
  display: block;
  position: relative;
  transition: all 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px 0 7px 16px;
  line-height: 1.143;
  font-size: 12px;
  &:hover {
    color: $--color-primary;
  }
}
.td_anchor_link-active {
  color: $--color-primary !important;
}
.td_anchor_link-left {
  padding: 7px 16px 7px 0;
}