@font-face {
  font-family: "td-icons";
  src: url("fonts/iconfont.woff") format("woff"),
    /* chrome, firefox */ url("fonts/iconfont.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: "auto";
  font-style: normal;
}

[class^="td-icon-"],
[class*=" td-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "td-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// remove-outline
.td-icon-remove-outline:before {
  content: "\e601";
}

// circle-check
.td-icon-circle-check:before {
  content: "\e606";
}

// circle-plus-outline
.td-icon-circle-plus-outline:before {
  content: "\e607";
}

// circle-close
.td-icon-circle-close:before {
  content: "\e608";
}

// success
.td-icon-success:before {
  content: "\e602";
}

// circle-plus
.td-icon-circle-plus:before {
  content: "\e603";
}

// icon_error
.td-icon-error:before {
  content: "\e604";
}

// remove
.td-icon-remove:before {
  content: "\e605";
}

// d-arrow-left
.td-icon-d-arrow-left:before {
  content: "\e64d";
}

// d-arrow-right
.td-icon-d-arrow-right:before {
  content: "\e609";
}

// arrow-up
.td-icon-arrow-up:before {
  content: "\e743";
}

// arrow-right
.td-icon-arrow-right:before {
  content: "\e694";
}

// arrow-left
.td-icon-arrow-left:before {
  content: "\e693";
}


// arrow-down
.td-icon-arrow-down:before {
  content: "\e7b2";
}

// left arrow
.td-icon-left:before {
  content: "\e755";
}

// Right arrow
.td-icon-right:before {
  content: "\e761";
}



// date
.td-icon-date:before {
  content: "\e64e";
}

// refresh
.td-icon-refresh:before {
  content: "\e67b";
}

// icon-search_24
.td-icon-search:before {
  content: "\e6b1";
}

// add
.td-icon-add:before {
  content: "\e767";
}

// QR-code2
.td-icon-qrCode:before {
  content: "\e637";
}


// addmessage
.td-icon-add-message:before {
  content: "\e61d";
}


// gitee
.td-icon-gitee:before {
  content: "\e60c";
}

// chrome
.td-icon-chrome:before {
  content: "\e691";
}

// github-fill
.td-icon-github:before {
  content: "\e885";
}

// edge
.td-icon-edge:before {
  content: "\f195";
}

// juzi
.td-icon-tianda:before {
  content: "\e600";
}
